{% extends "layout.html" %}
{% block body %}

<h1 class="text-center">create Articles</h1>
{% from "includes/_formhelpers.html" import render_field %}

<form action="" method="POST">
      
        <div class = "form-group">
            {{render_field(form.title, class ="form-control")}}
        </div>
        <div class = "form-group">
         <b><label for="body">Body</label></b>
         <textarea name="body" cols="30" rows="10" class="form -control" value=""></textarea>
        </div>
    
    <p ><input type = "submit" class = "btn btn-primary" value="Submit"></p>
</form>

{% endblock %}